.boxA, .boxB, .boxC, .boxD, .boxE{
	background-color: #eeeff2;
	width: 100px;
	height: 150px;
	margin-right: auto;
	margin-left: auto;
	font-size: 40px;
	font-family: Tahoma;
	float: left;
	margin:10px;
	border-left-style: dashed;
	border-width: 10px;
	border-color: #D0D0FF;
	padding: 10px;
}
.boxF{
	background-color: #eeeff2;
	width: 100px;
	height: 150px;
	margin-right: auto;
	margin-left: auto;
	font-size: 40px;
	font-family: Tahoma;
	float: left;
	margin:10px;
	border-left-style: dashed;
	border-width: 10px;
	border-color: #D0D0FF;
	padding: 10px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}


body{
	font-family: Tahoma;
	margin:10px;
	cursor: pointer;
}
.boxA:hover{
	background-color: yellow;
	color: goldenrod;
	cursor: pointer;
}

.boxB:hover{
	background-color: yellow;
	color: goldenrod;
	cursor: pointer;
}

.boxC:hover{
	background-color: yellow;
	color: goldenrod;
	cursor: pointer;
}

.boxD:hover{
	background-color: yellow;
	color: goldenrod;
	cursor: pointer;
}

.boxE:hover{
	background-color: yellow;
	color: goldenrod;
	cursor: pointer;
}

.boxF:hover{
	background-color: yellow;
	color: goldenrod;
	cursor: pointer;
}
