
body{
	background-image: url('bgr.jpeg');
	background-color: rgba(0, 0, 0, 0);
	background-repeat: repeat;
	background-attachment: scroll;
	padding-top: 20px;
	padding-bottom: 40px;
	box-sizing: border-box;
}
.base {
	background: #fff;
	margin-top: 1px;
	border-bottom: solid thin #e8e8e8;
	padding-top: 30px;
	padding-bottom: 15px;
	box-shadow: 0px 4px 22px 0px rgb(145, 164, 196);
	border-radius: 3px;
}
.top{
	margin-right: auto;
	box-shadow: 0px 4px 22px 0px rgb(145, 164, 196);
}

.content{
	background: #fff;
	height: 650px;
	box-shadow: 0px 4px 22px 0px rgb(145, 164, 196);
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
#calendar{
	float: left;
	width: 225px;
	margin: 0 auto;
	margin-top: -20px;
	border-bottom: 2%;
	border-radius: 5px;
	font-family: "Code Light";
	text-align: center;
	color: #000000;
	margin-left: 10%;
}
#calendar h1{
	background: #0068BD;
	border-radius: 5px 5px 0 0;
	padding: 20px;
	font-size: 140%;
	font-weight: 300px;
	text-transform: uppercase;
	letter-spacing:1px;
	color: #fff;
	cursor: default;
}
#calendar table{
	border-top: 1px solid #ddd;
	border-left:1px solid #ddd;
  border-spacing:0;
  border-radius:0 0 5px 5px;
}

#calendar td{
  width:38px;
  height:38px;
  background:#eee;
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
  padding:6px;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

#calendar td:hover:not(.current){
  background:#ddd;
}

#calendar .lastmonth,#calendar .nextmonth,#calendar .nextmonth ~ *{
  background:#fff;
  color:#999;
}

#calendar .currentA{
  background:#CCCCCC;
  font-weight:700;
  color:#0077B9;
}

#calendar .currentO{
  background:#CCCCCC;
  font-weight:700;
  color:#900002;
}

#calendar .hastask{
  font-weight:700;
  color: #FF0000;
}
#calendar .availableDay{
	color: #0077B9;
}
#calendar .occupiedDay{
	background: #ED4337;
	color: #ffffff;
}

#calendar tr:last-of-type td:first-of-type{border-radius:0 0 0 5px;}
}
.recent-post{
	font-size: 16px;
	margin-bottom: 35px;
}
.recent-tittle{
	font-size: 22px;
	line-height: 32px;
	padding-bottom: 15px;
}
p{
	line-height: 25px;
	word-spacing: 2;
	margin-bottom: 20px;
	font-family: sans-serif;
	font-size: 16px;
}
#today{
	background: #fc0;
	font-weight: bold;
	color: #666;
}
.footer{
	background: black;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	box-shadow: 0px -6px 22px 0px rgba(0, 0, 0, 0.2);
 	text-align: center;
}
#A{
	margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-top: 1px solid #687291;
  text-align: center;
  background-color: #dfe1e7;
}
