body,
html{
	width: 100%;
	height: 100%;
	background: purple;
}
.container{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.content{
	height: 450px;
	width: 400px;
	background:#fff;
	border-radius: 6px;
}
.item{
	height: 100%;
	padding: 30px;
	align-items: center;
	justify-content: center;
}
.in{
	padding-top: 2px;
}


