body,
html{
	width: 100%;
	height: 100%;
	background: #fc2;
}
.container{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.content{
	height: 400px;
	width: 400px;
	background:#fff;
	border-radius: 6px;
}
.item{
	height: 100%;
	padding: 30px;
	align-items: center;
	justify-content: center;
}
.logo{
 	width: 90px;
 	height: 90px;
 	margin: 0 auto;
  	margin-bottom: 35px;
 	padding: 1px;
 	line-height: 98px;
}
.img-rounded{
	width: 80px;
	height: 80px;
}
.in{
	padding: 2px;
}


